body {
  background-image: url(../../assets/images/fond.png);
  background-size: cover;
  background-attachment: scroll; /* Active l'effet de parallaxe */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.container-project {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 95%;
  margin-right: 10px;
  justify-content: center;
  gap: 50px;
  margin-left: 30px;
  margin-right: 30px;
  animation: fadeIn 1.5s ease-in-out;
  margin-top: 2vh;
}

.titre {
  font-size: 2em; /* Taille de police ajustée pour une meilleure lisibilité */
  color: black;
  text-align: center; /* Texte centré */
  padding: 20px; /* Ajout d’un espacement intérieur pour mieux aérer */
  border: 15px ridge #582900; /* Bordure élégante */
  background-color: bisque; /* Couleur de fond douce */
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Ombre subtile pour donner de la profondeur */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Effet de transition sur le survol */
}
.gif {
  width: 600px; /* Taille des images */
  height: auto; /* Maintient les proportions */
  border-radius: 15px; /* Coins arrondis */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Ombre moderne */
  border: 15px ridge #582900; /* Bordure élégante */
  filter: brightness(80%); /* Assombrit légèrement */
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease, all 0.3s ease;
}

.gif:hover {
  position:fixed; /* Passe en position fixe pour se centrer */
  top: 50%; /* Centre verticalement */
  left: 50%; /* Centre horizontalement */
  transform: translate(-50%, -50%) scale(2.1); /* Recentre et agrandit */
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3); /* Ombre renforcée */
  z-index: 9999; /* S'assure que l'élément est au-dessus des autres */
}

.presentation {
  font-size: 1.1em; /* Taille de police ajustée pour une meilleure lisibilité */
  color: black;
  text-align: justify; /* Texte aligné de manière élégante */
  padding: 20px; /* Ajout d’un espacement intérieur pour mieux aérer */
  border: 15px ridge #582900; /* Bordure élégante */
  background-color: bisque; /* Couleur de fond douce */
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Ombre subtile pour donner de la profondeur */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: 3vh; /* Effet de transition sur le survol */
}

/* Effet au survol */
.presentation:hover {
  transform: scale(
    1.05
  ); /* Agrandit légèrement au survol pour un effet subtil */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Ombre accentuée au survol */
}
